{% extends "layouts/main.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>

    <h1>Ausgaben für das Angelboot "Jodijo"</h1>

    <form method="post" id="form-id">
        <table class="u-full-width">
            {{ render_field(form.id) }}
            {{ render_field(form.description) }}
            {{ render_field(form.amount) }}
            {{ render_field(form.payer) }}
            {{ render_field(form.date) }}
        </table>
        <input type="submit" value="{{ action }}" name="submit"/>
        <input type="submit" value="Delete" name="submit" formnovalidate/>
        <input type="submit" value="Clear" name="clear" formaction="/fiboco" formmethod="get" formnovalidate/>
    </form>
    <script>
        $(window).ready(function() {
        $("#form-id").on("keypress", function (event) {
            console.log("aaya");
            var keyPressed = event.keyCode || event.which;
            if (keyPressed === 13) {
                event.preventDefault();
                return false;
            }
        });
        });
    </script>

    <h2>Ausgaben</h2>
    <div class="row">
        <div class="eight columns">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Beschreibung</th>
                    <th>Betrag</th>
                    <th>Zahler</th>
                    <th>Datum</th>
                </tr>
                </thead>
                <tbody>
                    {% if expense_map != None: %}
                        {% for id in sorted(expense_map.keys(), reverse=True) %}
                            <tr>
                                <td>{{ id }}</td>
                                <td><a href="{{ '/fiboco/update/' + str(id) }}">{{ expense_map.get(id).description }}</a></td>
                                <td>{{ format_decimal(expense_map.get(id).amount, format='#,##0.00', locale='de') + ' €'}}</td>
                                <td>{{ expense_map.get(id).payer }}</td>
                                <td>{{ strftime(expense_map.get(id).date, '%d.%m.%Y') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}